.parent-cont {
    width: 400px;
}

.list-item {
    border-bottom: 1px solid lightgrey;

    &__num {
        width: 9px;
        height: 9px;
        padding: 4px;
        border-radius: 4px;
        background-color: lightgrey;
        color: black;
        font-size: 11px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;

        &::before {
            content: '';
            width: 3px;
            height: 17px;
            background-color: rgb(56, 33, 255);
            position: absolute;
            left: -17px;
            top: 0;
            border-radius: 0 2px 2px 0;
            transition: all 0.3s;
            opacity: 0;
        }
    }

    &__text {
        font-size: 13px;
        font-weight: normal;
    }

    &__navigation {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(56, 33, 255);
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            transform: scale(1.1);
        }

        & > div {
            width: 16px;
            height: 16px;
            background-color: white;
            transform: rotate(45deg);
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgb(56, 33, 255);

            & .navigation-icon {
                transform: rotate(-45deg);
                width: 15px;
                height: 15px;
                filter: drop-shadow(0 0 0 rgb(56, 33, 255))
            }
        }
    }

    &__complete {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 15px;
        border-radius: 30px;
        background-color: white;
        box-shadow: 0 0 1px 1.5px rgb(223, 222, 222);
        width: 100px;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.list-item.active {
    background-color: #eaeeff;

    & .list-item__num {
        color: blue;
        position: relative;

        &::before {
            opacity: 1;
        }
    }
}

.list-item.unactive {
    opacity: 0.5;
}

.complete-icon {
    color: rgb(6, 201, 6);
}

.footer {
    background: white;
    padding: 8px 90px;

    &__button {
        border: unset;
        background-color: unset;
        color: rgb(82, 82, 82);
        cursor: pointer;
    }

    &__button.active {
        color:rgb(56, 33, 255);
    }
}