.completed {
    circle {
        fill: rgb(56, 33, 255);
        filter: drop-shadow(0 0 4px white);
        position: relative;
    }
}

.selected-location {
    circle {
        fill: rgb(255, 33, 33);
        filter: drop-shadow(0 0 4px white);
        position: relative;
    }
}